body{
	background-color: rgb(64, 0, 0);
}

table{
	width: 100%;
	font-family: "montserrat";
	font-weight: bold;
	border-spacing: 10px;
	font-size: 55px;
}

tr{
	line-height: 1.035;
}

td {
	background-color: black;
}

.carne{
	float: left;
	color: white;
}

.preco{
	float: right;
	color: yellow;
}

.base{
	
}

.itens{
	background-color: grey;
}